/* replenish files */
.lang-btn{
	width: 25%;
}

/* rewrite selector, change the font size */
#home .btn{
	font-size: 12px;
}

/* navibar */
.navbar{
	background: #c21500; /* fallback for old browsers */  
	background: -webkit-linear-gradient(to left, #c21500 , #ffc500); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #c21500 , #ffc500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	opacity: 1; 	
}

#navi a{
	color: white;
}

#feature .feature-icon {
    background-color: #ffa000;
}

/* footer */
footer {
    /* background-color: #141414; */
	background: #c21500; /* fallback for old browsers */  
	background: -webkit-linear-gradient(to left, #c21500 , #ffc500); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #c21500 , #ffc500);
    color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* vedio */
#video {
  background: url(../images/video-bg2.png) 50% 0 repeat-y fixed;
}

/* contact */
#contact {
  background: url(../images/video-bg4.png) 50% 0 repeat-y fixed;
}