/* all */
/* #about, #feature, #video, #menu, #team, #gallery, #contact{
	padding: 20px 0 20px;
}
 */
/* replenish files */
.lang-btn{
	width: 25%;
}

/* rewrite selector, change the font size */
#home .btn{
	font-size: 12px;
}

/* navibar */
.navbar{
	background: #c21500; /* fallback for old browsers */  
	background: -webkit-linear-gradient(to left, #c21500 , #ffc500); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #c21500 , #ffc500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	opacity: 1; 	
}

#navi a{
	color: white;
}

/* story */
.flexslider{
	margin-bottom: 0;
}

.flex-control-nav{
	bottom: 30px;
}

/* about */
/* #about{
	padding: 4vw 0 4vw;
} */

.flex-control-paging li a{
	background: rgba(255,255,255,0.4);
}

.flex-control-paging li a.flex-active{
	background: #FFA500;
}

/* video */
#video{
	color: #FFFFFF;
}

#video .overlay{
	background: rgba(3,3,3,0.2);
}

#feature .feature-icon {
    background-color: #ffa000;
}

/* footer */
footer {
    /* background-color: #141414; */
	background: #c21500; /* fallback for old browsers */  
	background: -webkit-linear-gradient(to left, #c21500 , #ffc500); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #c21500 , #ffc500);
	color: #FFFFFF;
	padding-top: 100px;
	padding-bottom: 100px;
}

/* vedio */
#video {
  background: url(../images/video-bg2.png) 50% 0 repeat-y fixed;
}

/* contact */
#contact {
  background: url(../images/video-bg4.png) 50% 0 repeat-y fixed;
	color: #FFFFFF;
}

#contact .overlay{
	background: rgba(3,3,3,0.4);
}

#contact input::-webkit-input-placeholder,#contact textarea::-webkit-input-placeholder{
	color: #FFFFFF;
}

#contact input::-moz-placeholder,#contact textarea::-moz-placeholder{
	color: #FFFFFF;
}

#contact input::-ms-input-placeholder,#contact textarea::-ms-input-placeholder{
	color: #FFFFFF;
}


/* response */

